extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.email
          td= formatDate(user.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/users/${user.id}/edit`)= t('views.users.editBtn')
              form(action=`/users/${user.id}` method='post')
                input(type="hidden" name="_method" value="delete")
                input.btn.btn-danger(type="submit" value=t('views.users.delete'))
