block content
  h1 Регистрация пользователя
  form(method="POST", action="/users")
    .form-group
      label(for="first_name") First Name
      input#first_name.form-control(name="data[first_name]", value=user.first_name)
      if errors && errors.first_name
        ul
          each err in errors.first_name
            li.text-danger= err.message
    .form-group
      label(for="last_name") Last Name
      input#last_name.form-control(name="data[last_name]", value=user.last_name)
      if errors && errors.last_name
        ul
          each err in errors.last_name
            li.text-danger= err.message
    .form-group
      label(for="email") Email
      input#email.form-control(name="data[email]", value=user.email)
      if errors && errors.email
        ul
          each err in errors.email
            li.text-danger= err.message
    button.btn.btn-primary(type="submit") Зарегистрироваться
