mixin statusForm(action, method, buttonText, tasks = {}, errors = {})
  block styles
    style.
      label[for="data_name"]::after {
        content: ":";
      }
  form(action=action method="POST") 
    input(type="hidden" name="_method" value="PATCH")
    .form-group
      label(for="data_name")= t('views.statuses.statusForm.name')
      input#data_name.form-control(type="text" name="data[name]" value=status.name placeholder= t('views.statuses.statusForm.name'))
      if errors && errors.name
        .text-danger= errors.name[0].message
    input.btn.btn-primary(type="submit" value=buttonText)

