doctype html
html(lang="en")
  head
    title= t('appName')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      .container-fluid
        a.navbar-brand(href="/")= t('appName')
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/users")= t('layouts.application.users')
          ul.navbar-nav
            if isAuthenticated()
              li.nav-item
                form(action="/session?_method=DELETE" method="post")
                  button.btn.btn-danger(type="submit")= t('layouts.application.signOut')
            else
              li.nav-item
                a.nav-link(href="/session/new")= t('layouts.application.signIn')
              li.nav-item
                a.nav-link(href="/users/new")= t('layouts.application.signUp')

    block content

    footer.bg-dark.text-light
      .container.py-3
        p.lead.mb-0 Nina Zyabrina
        a.ms-3.text-white(target="_blank" href="https://github.com/zyabridos") GitHub